@page "{id?}"
@model WebApplication1.Pages.Student.DetailsModel

@{
    ViewData["Title"] = "Student Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="Student.StudentId" class="control-label"></label>
                <input asp-for="Student.StudentId" class="form-control" readonly />
                <span asp-validation-for="Student.StudentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.StudentName" class="control-label"></label>
                <input asp-for="Student.StudentName" class="form-control" readonly />
                <span asp-validation-for="Student.StudentName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" readonly />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.StudentAge" class="control-label"></label>
                <input asp-for="Student.StudentAge" class="form-control" readonly />
                <span asp-validation-for="Student.StudentAge" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.DepartmentId" class="control-label"></label>
                <select asp-for="Student.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId" readonly>
                    <option value="">-- Select Department --</option>
                </select>
            </div>

            <div class="form-group mt-3">
                <a class="btn btn-dark" asp-page="Index">Back to List</a>
            </div>
        </form>
    </dl>
</div>

